h1{color: white;
background-color: black;
text-align: center;
text-underline:white}
button {color:aqua;
    font: bold;
    background-color: black;}
h5 {background-color: aquamarine
}
body{padding: 22px;
    background-color: aquamarine;

}
style{background-color:aquamarine}